In [1]:
## String

In [2]:
name = 'Darius'
number_str = '5'

In [4]:
print ('1973'.isdigit() )
print ('1973 '.isdigit() )# ar skaicius
print ('1973'.strip().isdigit() )# strip pasalina tarpus
print ('1973 '.strip().isdigit() )

True
False
True
True

In [6]:
## String operations
'Darius' + 'Grigaliunas'
'Darius' +' ' + 'Grigaliunas'

'Darius Grigaliunas'

In [7]:
'Darius' - 'i'# klaida

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [8]:
'hi ' * 100 # dauginamas tekstas

'hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi '

In [9]:
'hi ' / 100 # error

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [16]:
## String formatinf. f-sring - teksto formatavimas
name = 'Darius' # galim perrasyti po to varda
surname = 'Grigaliunas'
number = 57
print( name + ' ' + surname + ', nice to meet you! Your number is ' + str(number) )# str konvertuoja teksta i skaiciu
print ( f'{name} {surname}, nice to meet you! Your number is {number}' )
print ( f'      {name}     {surname}, nice to meet you! Your number is {number}' )
print ( f'{    name    } {surname}, nice to meet you! Your number is {number}' )

print ( f'{name} {surname}, nice to meet you! Your number is {number +5 }' )

Darius Grigaliunas, nice to meet you! Your number is 57
Darius Grigaliunas, nice to meet you! Your number is 57
      Darius     Grigaliunas, nice to meet you! Your number is 57
Darius Grigaliunas, nice to meet you! Your number is 57
Darius Grigaliunas, nice to meet you! Your number is 62

In [17]:
## NUMBERS

In [19]:
number = 423
float_number = 1.5 # po kablelio
number_text = '43'

#print ( type() ) suzinoti koks kintamasis!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
print ( type(number) )
print ( type(float_number) )
print ( type(number_text) )

<class 'int'>
<class 'float'>
<class 'str'>

In [20]:
### Operators

In [28]:
suma = number + float_number
print(suma)
print(type(suma))
print(10 - 5)
print(10 * 5)
print(10 / 5)# dalyboj visada rezultatas float

print('dalybos sveikoji dalis')
print(13 // 3)# dalybos sveika dali
print(12 // 3)# dalybos sveika dali
print(14 // 3)# dalybos sveika dali

424.5
<class 'float'>
5
50
2.0
dalybos sveikoji dalis
4
4
4

In [33]:
print('dalybos liekana')
print(13 % 3) 
print(12 % 3)
print(14 % 3)
print(15 % 3)


print('lyginis ar ne')
print(11 % 2)# ar lyginis skaicius
print(16 % 2)

print('dalinam is 3')
# jei 0 dalinasi is 3 jei ne nulis - nesidalina
print(15 % 3)
print(16 % 3)

dalybos liekana
1
0
2
0
lyginis ar ne
1
0
dalinam is 3
0
1

In [36]:
print ( 'kelimas laipsniu')
print( 2 ** 2) # dvi * kelimas

print( f'{2}^{2} = {2 ** 2}'  )
print( f'{2}^{3} = {2 ** 3}'  )
print( f'{2}^{4} = {2 ** 4}'  )
print( f'{6}^{4} = {6 ** 4}'  )

kelimas laipsniu
4
2^2 = 4
2^3 = 8
2^4 = 16
6^4 = 1296

In [44]:
suma = 0

kaina_1 = 5.4
kaina_2 = 4.2

suma = suma + kaina_1
suma = suma + kaina_2
print (suma)# kai ompas negali labai tiksliai apskaiciuot, tai rideda ...000001



suma = 0
suma += kaina_1
suma += kaina_2
print (suma)# visiskai vienodi uzrasymai


sandauga = 1
sandauga *= kaina_1
sandauga *= kaina_2
print (f'sandauga: {suma}')

skaicius = 4
skaicius **= 2
skaicius **= 2
print(skaicius)

9.600000000000001
9.600000000000001
sandauga: 9.600000000000001
256

In [59]:
# Apskaičiuokite dviejų int sumą, skirtumą, sandaugą, liekaną, padalinkite vieną skaičių iš kito
suma = 0
skaicius_1 = 30
skaicius_2 = 5

suma += skaicius_1
suma += skaicius_2
print (f'suma: {suma}')

skirtumas = 0
skirtumas = skaicius_1
skirtumas -= skaicius_2
print (f'skirtumas: {skirtumas}')

sandauga = 1
sandauga *= skaicius_1
sandauga *= skaicius_2
print (f'sandauga: {sandauga}')

#dalyba
dalyba = skaicius_1
dalyba //= skaicius_2
print (f'dalyba: {dalyba}')

#liekana
liekana = skaicius_1
liekana %= skaicius_2
print (f'liekana: {liekana}')

suma: 35
skirtumas: 25
sandauga: 150
dalyba: 6
liekana: 0

In [61]:
# Apskaičiuokite dviejų float sumą, skirtumą, sandaugą, liekaną, padalinkite vieną skaičių iš kito

suma = 0
skaicius_1 = 30.15
skaicius_2 = 5

suma += skaicius_1
suma += skaicius_2
print (f'suma: {suma}')

skirtumas = 0
skirtumas = skaicius_1
skirtumas -= skaicius_2
print (f'skirtumas: {skirtumas}')

sandauga = 1
sandauga *= skaicius_1
sandauga *= skaicius_2
print (f'sandauga: {sandauga}')

#dalyba
dalyba = skaicius_1
dalyba //= skaicius_2
print (f'dalyba: {dalyba}')

#liekana
liekana = skaicius_1
liekana %= skaicius_2
print (f'liekana: {liekana}')

suma: 35.15
skirtumas: 25.15
sandauga: 150.75
dalyba: 6.0
liekana: 0.14999999999999858

In [68]:
#Atstumas iki Mėnulio yra apie 384,000 km, o iki Saulės 150,000,000, kiek kartų atstumas iki Saulės yra didesnis nei iki Mėnulio?
menulis = 384_000
saule = 150_000_000

print (f'Atstumas iki saules yra {saule/menulis} kartu didesnis nei atstumas iki menulio')

Atstumas iki saules yra 390.625 kartu didesnis nei atstumas iki menulio

In [69]:
#Jeigu norėtume nuvažiuoti iki mėnulio automobiliu, kurio greitis 150km/h, kiek  valandų. N.d:metų, mėnesių, dienų, sekundžių tai užtruktų?
dist_sun = 150_000_000 # same as dist_sun = 150000000
dist_moon = 384_000

speed_per_hour = 150

print(f'Atstumas iki saules yra {dist_sun / dist_moon} kartu didesnis nei atstumas iki menulio ')
print(dist_sun / dist_moon)
day = speed_per_hour * 24
month = day * 30
year = month * 12
minutes = speed_per_hour/60
seconds = minutes/60

print(dist_moon/speed_per_hour)
print(dist_moon/day)
print(dist_moon/month)
print(dist_moon/year)
print(dist_moon/minutes)
print(dist_moon/seconds)

Atstumas iki saules yra 390.625 kartu didesnis nei atstumas iki menulio
390.625
2560.0
106.66666666666667
3.5555555555555554
0.2962962962962963
153600.0
9216000.0

In [66]:
#Kiek dienų praėjo nuo jūsų gimimo dienos?

year = 1980
year_passed = (2023 - year) * 365
print ( year_passed) # paprastesnis variantas

15695

In [75]:
#kitas variantas:
from datetime import date

d0 = date(1980, 3, 13)
d1 = date.today()
delta = d1 - d0
print(delta.days)

15672

In [87]:
### BOOLEAN
bool_true = True
print (bool_true)
print(type(bool_true))

bool_true = bool(1)
print (bool_true)

#bool_true = bool(0)
#print (bool_true)

bool_false = False
print (bool_false)
print (type(bool_false))

# konvertuoti i skaiciu
print( int(bool_true))
print( int(bool_false))

# konvertuoti - jei skaicius nelygus 0 - True, jei lygus - False
print (bool( 1 ))
print (bool( 10 ))
print (bool( -1.5 ))
print (bool( 0 ))

True
<class 'bool'>
True
False
<class 'bool'>
1
0
True
True
True
False

In [90]:
print( 2 < 5 )
print( 2 == 5 )# du == tikrinam ar lygu
print( 2 > 5 )
print( 2 >= 5 )
print( 5 >= 5 )

True
False
False
False
True

In [91]:
print ( not True )
print ( not not True )

False
True

In [95]:
print ('and')
print (20 > 10 and 5> 1)
print (20 > 10 and 5< 1)
print (20 < 10 and 5< 1)

print ('or')# jei tiesa bent is vienos puses
print (20 > 10 or 5> 1)
print (20 > 10 or 5< 1)
print (20 < 10 or 5< 1)

and
True
False
False
or
True
True
False

In [97]:
#Deklaruokite True reikšmę 5 skirtingais būdais
print( 20 > 5 )
print( 0 == 0 and 3>1)
print( 0 == 0 or 3<1)
print (bool( -1.5 ))
print( 0 == 0 )

True
True
True
True
True

In [99]:
# Deklaruokite False reikšmę 5 skirtingais būdais
print( 20 < 5 )
print( 0 != 0 and 3<1)
print( 0 != 0 or 3<1)
print (bool( 0 ))
print( 0 != 0 )

False
False
False
False
False

In [100]:
#Naudodami tik int tipo duomenį
print( 20 < 5 )


#Tik string tipo duomenį
#a = True

False

In [ ]:
#-------------------------------------------------------------------

In [101]:
###LISTS

In [109]:
cities = [ 'Vilnius', 'Kaunas', 'Klaipeda']
print (cities)
print (cities[0])# pirmas miestas
print (type(cities))
print (type(cities[0]))
print (cities[-1])
print (cities[1:])
print (cities[:2])

['Vilnius', 'Kaunas', 'Klaipeda']
Vilnius
<class 'list'>
<class 'str'>
Klaipeda
['Kaunas', 'Klaipeda']
['Vilnius', 'Kaunas']

In [111]:
numbers = [ 15,654,769,238.4274,'5' ]# srasao viduje gali buti bet kokie duomenys
print (type( numbers[0] ) )
print (type( numbers[-2] ) )
print (type( numbers[-1] ) )# tekstas str

<class 'int'>
<class 'float'>
<class 'str'>

In [113]:
numbers = [ 154,44,33 ]
print( numbers )
numbers.append( 51 )# prideda objekta (bet ka) prie saraso gala
#print( numbers.append( 51 ))# do not print append

print( numbers )

[154, 44, 33]
[154, 44, 33, 51]

In [114]:
numbers.append( 51 )# prideda objekta (bet ka) prie saraso gala
#print( numbers.append( 51 ))# do not print append

#print( numbers )kiekviena karta paspaudus prideda vis objekta

[154, 44, 33, 51, 51]

In [115]:
numbers.count(51)# kiek verciu musu sarase

2

In [121]:
numbers = [ 154,44,33 ]
numbers.append( 51 )
print( numbers )
numbers.append( [100, 100] )
print( numbers )
print(numbers[-1])# skaitosi kaip vienas narys [] skliaustuose
print( len(numbers) )

numbers.extend([100, 100])# traktuoja kaip atskirus narius
print( numbers )
print( len(numbers) )
print(numbers.count(100))# komandos veikia  auksciausiame lygmenyje, iesko konkretaus reiskinio

[154, 44, 33, 51]
[154, 44, 33, 51, [100, 100]]
[100, 100]
5
[154, 44, 33, 51, [100, 100], 100, 100]
7
2

In [127]:
numbers.index(100)# suzinoti verte,  kur yra tas skaicius
numbers.insert(1, 500)# ideda i kazkokia pozicija - pradzioje kurioje vietoje 
print( numbers )

[154, 500, 44, 33, 51, [100, 100], 100, 100]

In [128]:
print(numbers)
print(numbers.pop())# pasalinti verte is saraso. Jei nieko nenurodom, tai paskutine
print(numbers)

[154, 500, 44, 33, 51, [100, 100], 100, 100]
100
[154, 500, 44, 33, 51, [100, 100], 100]

In [129]:
print(numbers)
print(numbers.remove(500))# nurodyti reiksme kuri reikia, is eiles iesko ir pira pasalina # klaida jei neegzistuoja
print(numbers)

[154, 500, 44, 33, 51, [100, 100], 100]
None
[154, 44, 33, 51, [100, 100], 100]

In [141]:
nested_list = [654, [[[48, [['65']]], 57]]]
print(nested_list)
print(len(nested_list))

print (nested_list[1])
print (nested_list[1][0])
#print (len(nested_list[1][0]))
print (nested_list[1][0][0])
print (nested_list[1][0][0][1])
print (nested_list[1][0][0][1][0])
print (nested_list[1][0][0][1][0][0])

[654, [[[48, [['65']]], 57]]]
2
[[[48, [['65']]], 57]]
[[48, [['65']]], 57]
[48, [['65']]]
[['65']]
['65']
65

In [144]:

print(numbers)
numbers.reverse()# apsuka/apvercia skaicius kiekviena karta
print(numbers)

[154, 44, 33, 51, [100, 100], 100]
[100, [100, 100], 51, 33, 44, 154]

In [145]:
#numbers[start:end:step]
numbers[::-1]% apvercia visa sarasa, spausdina visus irasus, bet kiek kartu spausi - nesikeis

[154, 44, 33, 51, [100, 100], 100]

In [147]:
numbers = [ 154,44,33 ]
numbers.sort()# isrikiuoja didejimo tvarka
print(numbers)

numbers.sort(reverse=True)# mazejim tvarka
print(numbers)

[33, 44, 154]
[154, 44, 33]

In [150]:
numbers = [ 154,44,33 ]
print (sorted( numbers ) )#  duoda isrikiuotas reiksmes, bet jei atspausdinu pati sarasa - sarase nemodifikuoja duomenys -- SAUGIAU naudoti
print(numbers)
print (sorted( numbers, reverse = True) )#  mazejimo tvarka
print(numbers)

[33, 44, 154]
[154, 44, 33]
[154, 44, 33]
[154, 44, 33]

In [151]:
print ( cities )

['Vilnius', 'Kaunas', 'Klaipeda']

In [152]:
cities[2] = 'Siauliai'# perrasyti info/vertes
print ( cities )

['Vilnius', 'Kaunas', 'Siauliai']

In [155]:
print( "Vilnius" in cities)
print ("Klaipeda" in cities)

True
False

In [156]:
print( bool( [] ) )#Tuscias False
print( bool( [0] ) )#Netuscias true

False
True

In [ ]:
# operators with list

In [158]:
combined = [1,2,3] + ['a', 'b', 'c'] 
print(combined)

[1, 2, 3, 'a', 'b', 'c']

In [159]:
combined = [1,2,3] - ['a', 'b', 'c'] # klaida
print(combined)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [160]:
print(combined * 10)

[1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']

In [162]:
print( type ( [] ) )# koks tipas visada ziureti
print( type ( () ) )# koks tipas visada ziureti

<class 'list'>
<class 'tuple'>

In [125]:
# Deklaruoti list tipo duomenį, gauti jo ilgį, pridėti naują elementą
maistas = [ 'vaisiai', 'darzoves', 'mesa']
print( maistas )
print( len(maistas) )
maistas.append( 'zuvys' )
print( maistas )
print( len(maistas) )

['vaisiai', 'darzoves', 'mesa']
3
['vaisiai', 'darzoves', 'mesa', 'zuvys']
4

In [ ]:
# Patikrinti ar elementas yra jūsų sąraše
maistas = [ 'vaisiai', 'darzoves', 'mesa']
print( maistas )

In [ ]:
# Sudėti du list’us, išimti paskutinį narį iš sudėto listo, išrikiuoti list’ą, suskaičiuoti kiek yra kokios nors reikšmės įvesčių list’e