# mutable variable:

# fixing mutable variable #1
a = [1,2,3]
b = a.copy()
print ('pries')
print( id(a) )
print( id(b) )
b.append(10)
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

In [2]:
# mutable variable:
a = [1,2,3]
b = a
print ('pries')
print( id(a) )
print( id(b) )
b.append(10)
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2479068507392
2479068507392
po
2479068507392
2479068507392
[1, 2, 3, 10]
[1, 2, 3, 10]

In [3]:
# fixing mutable variable #1
a = [1,2,3]
b = a.copy()
print ('pries')
print( id(a) )
print( id(b) )
b.append(10)
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2479068507840
2479068505920
po
2479068507840
2479068505920
[1, 2, 3]
[1, 2, 3, 10]

In [4]:
# where fix #1 doesn't work
a = [1,2, [ 'a', 'b' ] ]
b = a.copy()
print ('pries')
print( id(a) )
print( id(b) )
b[-1].append( 'c' )
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2479068318144
2479068508416
po
2479068318144
2479068508416
[1, 2, ['a', 'b', 'c']]
[1, 2, ['a', 'b', 'c']]

In [6]:
# geriausias sprendimas
# fixing mutable variable #2
import copy
a = [1,2, [ 'a', 'b' ] ]
b = copy.deepcopy(a)
print ('pries')
print( id(a) )
print( id(b) )
b[-1].append( 'c' )
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2479068505920
2479068326592
po
2479068505920
2479068326592
[1, 2, ['a', 'b']]
[1, 2, ['a', 'b', 'c']]

#Tuple

##Tuple

In [9]:
my_tuple = (1, 5, 'b')
print( type(my_tuple) )

<class 'tuple'>

In [11]:
print( my_tuple + (54,1)) #+ 5 # error
print( my_tuple)

(1, 5, 'b', 54, 1)
(1, 5, 'b')

In [12]:
print( my_tuple[1])
print( my_tuple[1:])

5
(5, 'b')

In [13]:
my_tuple = (1, 5, 'b')# perra6yti
my_tuple = my_tuple + (54,1)
print ( my_tuple)

(1, 5, 'b', 54, 1)

In [14]:
print ( my_tuple.count(1))# galimos komandos
print ( my_tuple.index(54))

2
3

In [16]:
print ( len(my_tuple))
print ( 100 in my_tuple)
print ( 1 in my_tuple)

5
False
True

In [19]:
#keisti duomenu tipus
my_list = list( my_tuple )
print(my_list)
print(type(my_list))
print( my_tuple)

my_tuple = tuple (my_list)
print( my_tuple)

[1, 5, 'b', 54, 1]
<class 'list'>
(1, 5, 'b', 54, 1)
(1, 5, 'b', 54, 1)

In [22]:
# gaukite reiksme
#my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
#Į ekraną išveskite 8

my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print( my_tuple[-1])
print( my_tuple[-1][-1])
print( my_tuple[-1][-1][-1])

[6, [7, 8]]
[7, 8]
8

In [26]:
# tuple1 = (11, [222, 33], 44, 55)
# tuple1 = (11, [222, 22], 44, 55)
tuple1 = (11, [222, 33], 44, 55)
list1 = list(tuple1)
list1[1][1] = 22
tuple1 = tuple(list1)
print(tuple1)

(11, [222, 22], 44, 55)

In [28]:
# antras variantas
tuple1 = (11, [222, 33], 44, 55)
tuple1[1][1] = 22 
print (tuple1)

(11, [222, 22], 44, 55)

In [54]:
#Tuple turi tik du jam skirtus metodus:
#tuple_variable.count(norima_reikšmė) - grąžina kiek kartų buvo rasta reikšmė
#tuple_variable.index(norima_reikšmė) - grąžina indeksą pirmos rastos norimos_reikšmės

#Tačiau visi metodai skirti sekos duomenų tipams galioja ir tuple
tuple1 = (10, 50, 30)
tuple2 = (15, 90, 150)
tuple3 = tuple1 + tuple2
print(tuple3)

list_new = list(tuple3)
print( list_new.pop(-1))
print( list_new.sort())

tuple_new = tuple(list_new)
print(tuple_new)
print(tuple_new.count(4))
print(tuple_new[-1])

print(max (tuple3))

(10, 50, 30, 15, 90, 150)
150
None
(10, 15, 30, 50, 90)
0
90
150

In [39]:
# Kirilo var
tuple2 = (1, 2, 76, 6)
tuple3 = (88, 3, 1, 1)
tuple_new = tuple2 + tuple3
print(tuple_new)
list_new = list(tuple_new)
list_new.pop(-1)
#tuple_new = tuple(list_new)
#print(tuple_new)
#list_new = list(tuple_new)
list_new.sort()
tuple_new = tuple(list_new)
print(tuple_new)
print(tuple_new.count(1))
print(tuple_new[-1])

(1, 2, 76, 6, 88, 3, 1, 1)
(1, 2, 76, 6, 88, 3, 1)
(1, 1, 2, 3, 6, 76, 88)
2
88

##RANGE

In [61]:
print ( range(10))
print ( type (range(10)))
print ( list (range(10)))
print ( list( range(-5,10)))
print ( list( range(-5,10,3)))
print ( list( range(100,-32,-15)))
# range(start, end, step)

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-5, -2, 1, 4, 7]
[100, 85, 70, 55, 40, 25, 10, -5, -20]

# For loop (for ciklas)

In [65]:
miestai = ['vilnius', 'Kaunas', 'Klaipeda']

# for <sugalvotas zodis> in <sarasas/tuple/tekstas/range>:
for miestas in miestai:
    print(miestas)
    print(miestai)
    print(f'{miestas} yra nuostabus miestas')
print('pabaiga')

vilnius
['vilnius', 'Kaunas', 'Klaipeda']
vilnius yra nuostabus miestas
Kaunas
['vilnius', 'Kaunas', 'Klaipeda']
Kaunas yra nuostabus miestas
Klaipeda
['vilnius', 'Kaunas', 'Klaipeda']
Klaipeda yra nuostabus miestas
pabaiga

In [70]:
miestai = ['vilnius', 'Kaunas', 'Klaipeda']
for x in miestai: 
    print(f'{x} yra nuostabus miestas')

vilnius yra nuostabus miestas
Kaunas yra nuostabus miestas
Klaipeda yra nuostabus miestas

In [73]:
for number in range(3,46,4):
    print ( number**2)

9
1849

In [76]:
mokejimai = [ 13.4, 146.45, 546, 54]

suma = 0
sandauga = 1
for mokeijmas in mokejimai:
    suma += mokeijmas
    print( f"tarpine suma: {suma}")
    sandauga *= mokeijmas
    print( f"tarpine sandauga: {sandauga}")

print( f"galutine suma: {suma}")
print( f"galutine sandauga: {sandauga}")

tarpine suma: 13.4
tarpine sandauga: 13.4
tarpine suma: 159.85
tarpine sandauga: 1962.4299999999998
tarpine suma: 705.85
tarpine sandauga: 1071486.7799999998
tarpine suma: 759.85
tarpine sandauga: 57860286.11999999
galutine suma: 759.85
galutine sandauga: 57860286.11999999

In [77]:
print( sum(mokejimai))

759.85

In [78]:
# 
# https://docs.python.org/3/library/functions.html

In [79]:
human_input = input('Koks jusu vardas?')

In [80]:
print( human_input)

Natalija

In [81]:
human_input = input('Irasykite skaiciu nuo 1 iki 10')

In [83]:
print( human_input)
print( type(human_input ) )

7
<class 'str'>

In [95]:
#Atspausdinkite pirmus 10 imtinai skaičių naudodami for loop
#loop1 = list (range(1,100,1))
#for loop2 in loop1:
#    print(loop2[:10])
#print(list (range(1,100,1)))

#Gaukite sumą pirmų 50 skaičių imtinai
#sumai = list(range(1,100,1))
#print(sumai)
for skaicius in range (1,11):
    print(skaicius)

print ('antra dalis')
suma = 0
for skaicius in range (1,51):
    # suma = suma + skaicius
    suma += skaicius
print(suma)

1
2
3
4
5
6
7
8
9
10
antra dalis
1275

In [100]:
# Leiskite pasirinkti skaičių, atspausdinkite jo sandaugą nuo 1 iki 10 imtinai
skaicius = input('iveskite skaiciu')
print( type(skaicius) )
skaicius = int( skaicius )
print( skaicius)
print( type(skaicius) )

for x in range(1,11):
    print(f'{skaicius}x{x} = {skaicius*x}')

<class 'str'>
3
<class 'int'>
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
3x10 = 30

In [105]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []

for diena in dienos:
    print(diena)
    for valanda in valandos:
        print(valanda)
        kombinacijos.append( (diena, valanda) )
        print('mazo  ciklo pabaiga')
    print('didelio ciklo pabaiga')
print(kombinacijos)

Pirmadienis
10
mazo  ciklo pabaiga
11
mazo  ciklo pabaiga
12
mazo  ciklo pabaiga
13
mazo  ciklo pabaiga
14
mazo  ciklo pabaiga
15
mazo  ciklo pabaiga
16
mazo  ciklo pabaiga
17
mazo  ciklo pabaiga
18
mazo  ciklo pabaiga
19
mazo  ciklo pabaiga
didelio ciklo pabaiga
Antradienis
10
mazo  ciklo pabaiga
11
mazo  ciklo pabaiga
12
mazo  ciklo pabaiga
13
mazo  ciklo pabaiga
14
mazo  ciklo pabaiga
15
mazo  ciklo pabaiga
16
mazo  ciklo pabaiga
17
mazo  ciklo pabaiga
18
mazo  ciklo pabaiga
19
mazo  ciklo pabaiga
didelio ciklo pabaiga
Treciadienis
10
mazo  ciklo pabaiga
11
mazo  ciklo pabaiga
12
mazo  ciklo pabaiga
13
mazo  ciklo pabaiga
14
mazo  ciklo pabaiga
15
mazo  ciklo pabaiga
16
mazo  ciklo pabaiga
17
mazo  ciklo pabaiga
18
mazo  ciklo pabaiga
19
mazo  ciklo pabaiga
didelio ciklo pabaiga
Ketvirtadienis
10
mazo  ciklo pabaiga
11
mazo  ciklo pabaiga
12
mazo  ciklo pabaiga
13
mazo  ciklo pabaiga
14
mazo  ciklo pabaiga
15
mazo  ciklo pabaiga
16
mazo  ciklo pabaiga
17
mazo  ciklo pabaiga
18
mazo  ciklo pabaiga
19
mazo  ciklo pabaiga
didelio ciklo pabaiga
Penktadienis
10
mazo  ciklo pabaiga
11
mazo  ciklo pabaiga
12
mazo  ciklo pabaiga
13
mazo  ciklo pabaiga
14
mazo  ciklo pabaiga
15
mazo  ciklo pabaiga
16
mazo  ciklo pabaiga
17
mazo  ciklo pabaiga
18
mazo  ciklo pabaiga
19
mazo  ciklo pabaiga
didelio ciklo pabaiga
Sestadienis
10
mazo  ciklo pabaiga
11
mazo  ciklo pabaiga
12
mazo  ciklo pabaiga
13
mazo  ciklo pabaiga
14
mazo  ciklo pabaiga
15
mazo  ciklo pabaiga
16
mazo  ciklo pabaiga
17
mazo  ciklo pabaiga
18
mazo  ciklo pabaiga
19
mazo  ciklo pabaiga
didelio ciklo pabaiga
Sekmadienis
10
mazo  ciklo pabaiga
11
mazo  ciklo pabaiga
12
mazo  ciklo pabaiga
13
mazo  ciklo pabaiga
14
mazo  ciklo pabaiga
15
mazo  ciklo pabaiga
16
mazo  ciklo pabaiga
17
mazo  ciklo pabaiga
18
mazo  ciklo pabaiga
19
mazo  ciklo pabaiga
didelio ciklo pabaiga
[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 18), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 18), ('Sekmadienis', 19)]

#If statement (if salygos)

In [113]:
age = int( input('iveskite amziu: '))

# vykdoma tik viena dalis, kuri True. Eina nuo virsaus, jei sutinka kur tinka toliau netikrina
if age >= 18:
    print(f'Jums yra {age} metu, jus esate pilnametis')
#elif age > 2:      Eina nuo virsaus, jei sutinka kur tinka toliau netikrina. Taip netinka!!!!!!!!!!!!!!!!!!!!!!!!
#    print(f'Jums tarp 2 ir 8 metu')
elif age > 12:
    print(f'Jums tarp 12 ir 18 metu')
elif age > 8:
    print(f'Jums tarp 8 ir 12 metu')
else:
    print('Jus esate nepilnametis')

Jums tarp 8 ir 12 metu

In [115]:
x = int( input('iveskite skaiciu: '))
print( x )

if x % 2 ==  0:
    print('lyginis')
else:
    print('nelyginis')

9
nelyginis

In [132]:
#Tikrinant skaičius nuo 1 iki 20, atspausdinkite skaičius, kurie dalinasi iš 3 be liekanos. Naudokite for loop ir if

for skaicius in range (1,21):
    if skaicius % 3 == 0:
        print('dalinasi is 3')
        print(skaicius)

dalinasi is 3
3
dalinasi is 3
6
dalinasi is 3
9
dalinasi is 3
12
dalinasi is 3
15
dalinasi is 3
18

In [140]:
# Tikrinant skaičius nuo 1 iki 50, pridėkite skaičių prie sumos, jei nauja einama suma bus lyginė
suma = 0
for skaicius in range (1,51):
#    print(skaicius)
    if (suma + skaicius) % 2 == 0:
        print('suma dalinasi is 2')
        suma += skaicius
        print(suma)

suma dalinasi is 2
2
suma dalinasi is 2
6
suma dalinasi is 2
12
suma dalinasi is 2
20
suma dalinasi is 2
30
suma dalinasi is 2
42
suma dalinasi is 2
56
suma dalinasi is 2
72
suma dalinasi is 2
90
suma dalinasi is 2
110
suma dalinasi is 2
132
suma dalinasi is 2
156
suma dalinasi is 2
182
suma dalinasi is 2
210
suma dalinasi is 2
240
suma dalinasi is 2
272
suma dalinasi is 2
306
suma dalinasi is 2
342
suma dalinasi is 2
380
suma dalinasi is 2
420
suma dalinasi is 2
462
suma dalinasi is 2
506
suma dalinasi is 2
552
suma dalinasi is 2
600
suma dalinasi is 2
650

In [143]:
# Leiskite pasirinkti skaičių, atspausdinkite jo sandaugą nuo 1 iki 10 tik tada, jei pasirinktas skaičius pakeltas kvadratu yra nelyginis
pasirinktas_skaicius = int( input('iveskite skaiciu') )

if (pasirinktas_skaicius ** 2) % 2 != 0:
    for i in range(1,11):
        print( pasirinktas_skaicius * i )
else:
    print( 'pasirinktas skaičius pakeltas kvadratu yra lyginis' )

3
6
9
12
15
18
21
24
27
30