# List comprehension

In [1]:
numbers = list(range(1,21))
divisible_by_3 = []
for number in numbers:
    if number %3 == 0:
        divisible_by_3.append(number)
print(divisible_by_3)

[3, 6, 9, 12, 15, 18]

In [2]:
divisible_by_3 = [ number for number in numbers if number % 3 == 0]
print(divisible_by_3)

[3, 6, 9, 12, 15, 18]

In [3]:
divisible_by_3 = [ number * 10 for number in numbers if number % 3 == 0]
print(divisible_by_3)

[30, 60, 90, 120, 150, 180]

In [4]:
divisible_by_3 = [ number * 10 for number in numbers if number % 4 == 0]
print(divisible_by_3)

[40, 80, 120, 160, 200]

In [5]:
divisible_by_3 = [ number if number %3 == 0 else f'{number} nesidalina is 3' for number in range(1,21)]
print(divisible_by_3)

['1 nesidalina is 3', '2 nesidalina is 3', 3, '4 nesidalina is 3', '5 nesidalina is 3', 6, '7 nesidalina is 3', '8 nesidalina is 3', 9, '10 nesidalina is 3', '11 nesidalina is 3', 12, '13 nesidalina is 3', '14 nesidalina is 3', 15, '16 nesidalina is 3', '17 nesidalina is 3', 18, '19 nesidalina is 3', '20 nesidalina is 3']

In [7]:
doubled = [ number * 2 for number in numbers]
print(doubled)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

# None a.k.a null, nill, Nan - Not a Number

In [8]:
niekas = None
print( niekas )
print( type(niekas))

None
<class 'NoneType'>

In [11]:
import random
vardas = ''
if random.random() > 0.5:
    vardas = input('Iveskite varda: ')

if vardas != '':
    print(f'Sveikas {vardas}!')

In [17]:
import random
vardas = None
if random.random() > 0.5:
    vardas = input('Iveskite varda: ')

if vardas != None and vardas != '':
    print(f'Sveikas {vardas}!')
elif vardas != None and vardas == '':
    print(f'Nepavyko nuskaityti jusu vardo. Bandykite dar karta')
else:
    print('Jus nenurodete savo vardo')

Jus nenurodete savo vardo

In [19]:
list_1 = [1]
print( list_1.append(100))
print(list_1)
print(list_1.count(1))

None
[1, 100]
1

# Dictionary

In [20]:
me = {
    'vardas': 'Darius',#raktas: verte
    'pavarde': 'Grigeliunas',
    'amzius': 27
}
print(me)

{'vardas': 'Darius', 'pavarde': 'Grigeliunas', 'amzius': 27}

In [28]:
me[0]#neduoda indekso
me['neegzistuojantis_raktas']

KeyError: 0

In [23]:
print( me[ 'vardas' ] )
print( me[ 'pavarde' ] )
print( me[ 'amzius' ] )

Darius
Grigeliunas
27

In [24]:
# prideti naujus narius
me[ 'miestas' ] = 'Vilnius'
print( me )

{'vardas': 'Darius', 'pavarde': 'Grigeliunas', 'amzius': 27, 'miestas': 'Vilnius'}

In [25]:
me[ 'hobiai' ] = ['tenisas', 'dviraciai']
print( me )

{'vardas': 'Darius', 'pavarde': 'Grigeliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}

In [ ]:
# zodine gali buti bet kokia info, ir kiti zodinai

In [27]:
someone = {
    True: 'tiesa',
    False: 'netiesa',
    None: 'none verte'
}
print ( someone[True] )
print ( someone[False] )
print ( someone[None] )

tiesa
netiesa
none verte

In [31]:
zmones = [
    {'vardas': 'Jonas', 'amzius': 35},
    {'vardas': 'Petras', 'amzius': 50},
    {'vardas': 'Mantas', 'amzius': 40}
]
print(zmones)
print( zmones[0] )
print( zmones[0]['vardas'] )

print('for loop')
for zmogus in zmones:
    print( zmogus['vardas'] )

[{'vardas': 'Jonas', 'amzius': 35}, {'vardas': 'Petras', 'amzius': 50}, {'vardas': 'Mantas', 'amzius': 40}]
{'vardas': 'Jonas', 'amzius': 35}
Jonas
for loop
Jonas
Petras
Mantas

In [32]:
#turi ilgi
print(me)
print(len(me))

{'vardas': 'Darius', 'pavarde': 'Grigeliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}
5

In [36]:
# isimti reiksme
me = {'vardas': 'Darius', 'pavarde': 'Grigeliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}
print(me)
print(me.pop('amzius'))# butinai nurodyti raktazodi
print(me)

del me['miestas']# del veikia su visais sarasai, listai ir pan
print(me)

{'vardas': 'Darius', 'pavarde': 'Grigeliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}
27
{'vardas': 'Darius', 'pavarde': 'Grigeliunas', 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}
{'vardas': 'Darius', 'pavarde': 'Grigeliunas', 'hobiai': ['tenisas', 'dviraciai']}

# Dictionary is mutable. Be carefull

In [ ]:
# look at lesson 3

In [37]:
print(me)

{'vardas': 'Darius', 'pavarde': 'Grigeliunas', 'hobiai': ['tenisas', 'dviraciai']}

In [40]:
# me.clear()# istrina visa info is zodino - nelabai ir naudojama
# me.copy# nukopijuoja zodina ir duoda kopija - geriau deepcopy
me = {'vardas': 'Darius', 'pavarde': 'Grigeliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}
print(me.popitem())# panaikina viena info, pati pasirenka ir istrina
print(me)
#print(me.popitem()) # jei leidi kelis kartus vis po viena panaikina
#print(me.popitem())

('hobiai', ['tenisas', 'dviraciai'])
{'vardas': 'Darius', 'pavarde': 'Grigeliunas', 'amzius': 27, 'miestas': 'Vilnius'}

In [43]:
me = {'vardas': 'Darius', 'pavarde': 'Grigeliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}

#me['neegzistuojantis_raktas']
print(me.get('neegzistuojantis_raktas')) # nera klaidos
print(me.get('neegzistuojantis_raktas', 'nerastas'))# po , nurodome ka norim gauti
print(me.get('neegzistuojantis_raktas', 0))# po , nurodome ka norim gauti

print(me.get('amzius', 0))# jei yra isveda amziu, jei nera tai 0

None
nerastas
0
27

In [45]:
me = {'vardas': 'Darius', 'pavarde': 'Grigeliunas'}
updated_info = {'vardas': 'Tomas', 'pavarde': 'Grigeliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}

#me['vardas'] = updated_info['vardas'] # labai nepatogu ir ilgai

me.update( updated_info )
print(me)

# negali buti 2 vienodi raktazodziai, raktazodis unikalus

{'vardas': 'Tomas', 'pavarde': 'Grigeliunas', 'amzius': 27, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'dviraciai']}

In [46]:
for value in me.values():# values grazina visas vertes es musu zodine
    print( value )

Tomas
Grigeliunas
27
Vilnius
['tenisas', 'dviraciai']

In [49]:
for key in me.keys():# keys grazina visus raktazodzius es musu zodine
    print( key )

vardas
pavarde
amzius
miestas
hobiai

In [50]:
for key in me:# jei nieko nenurodom, grazina visus raktazodzius
    print( key )

vardas
pavarde
amzius
miestas
hobiai

In [52]:
for key, value in me.items():
    print (f"key is '{key}' with a value of: '{value}'")# grazian raktazodi ir verte

key is 'vardas' with a value of: 'Tomas'
key is 'pavarde' with a value of: 'Grigeliunas'
key is 'amzius' with a value of: '27'
key is 'miestas' with a value of: 'Vilnius'
key is 'hobiai' with a value of: '['tenisas', 'dviraciai']'

In [ ]:
#pvz. twiter: https://developer.twitter.com/en/docs/twitter-api/data-dictionary/example-payloads

In [58]:
twitter_post = {
  "created_at": "Tue Feb 27 21:11:40 +0000 2018",
  "id": 968594506663669800,
  "id_str": "968594506663669760",
  "text": "RT @honeydrop_506: 180222 ICN #백현 #BAEKHYUNnn나의 겨울과 너nn#iHeartAwards #BestFanArmy #EXOL @weareoneEXO https://t.co/hg7I3xAlBg",
  "truncated": False,
  "in_reply_to_status_id": None,
  "in_reply_to_status_id_str": None,
  "in_reply_to_user_id": None,
  "in_reply_to_user_id_str": None,
  "in_reply_to_screen_name": None,
  "user": {
    "id": 4448809940,
    "id_str": "4448809940",
    "name": "ayah",
    "screen_name": "lovbyun",
    "location": "bbh iu jjh pcy kjd dks",
    "url": "https://curiouscat.me/baekhyun-l",
    "description": "hi hello I love exo",
    "translator_type": "none",
    "protected": False,
    "verified": False,
    "followers_count": 1142,
    "friends_count": 125,
    "listed_count": 20,
    "favourites_count": 5712,
    "statuses_count": 4011,
    "created_at": "Fri Dec 04 03:44:59 +0000 2015",
    "utc_offset": -28800,
    "time_zone": "Pacific Time (US & Canada)",
    "geo_enabled": False,
    "lang": "en",
    "contributors_enabled": False,
    "is_translator": False,
    "profile_background_color": "000000",
    "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_tile": False,
    "profile_link_color": "F58EA8",
    "profile_sidebar_border_color": "000000",
    "profile_sidebar_fill_color": "000000",
    "profile_text_color": "000000",
    "profile_use_background_image": False,
    "profile_image_url": "http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_image_url_https": "https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_banner_url": "https://pbs.twimg.com/profile_banners/4448809940/1519340670",
    "default_profile": False,
    "default_profile_image": False,
    "following": None,
    "follow_request_sent": None,
    "notifications": None
  },
}

twitter_post["user"][ 'friends_count' ]

125

In [69]:
# Atspausdinkite ‘Ford’, gaukite žodyno car ilgį, pakeiskite metus į 2022
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car["brand"])
print(len(car))
car['year'] = 2022
#updated_info = {"year": 2022}

#car.update( updated_info )
print(car)

Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [71]:
# Prie esamo žodyno pridėkite naujas reikšmes
#'color' = 'red'
#'used' =  True
#updated_info = {'color': 'red', 'used': True}

car.update( {'color': 'red', 'used': True})#( updated_info )
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}

In [67]:
# Iš esamo žodyno ištrinti ‘brand’ raktą ir reikšmę, o ‘year’ reikšmę paverskite į None
car =	{
  "brand": "Ford",
  "year": 1992,
  'color': 'red',
  'used':  True
}

del car['brand'] # car.pop('brand')
car[ 'year' ] = None
print(car)

{'year': None, 'color': 'red', 'used': True}

In [73]:
print( 'model' in car )# tikrinam tik raktazodi
print( 'brand' in car )
print( 'red' in car )

# jei reiksmes reikia
print( 'red' in car.values() )

True
True
False
True

# SET # imtis

In [74]:
my_set = { 100,1,2,3,4,1,1,1,1,'a','b', 'b', 'b'}
print(my_set)# besikartojancius narius pasalina

{1, 2, 3, 100, 4, 'b', 'a'}

In [75]:
my_list = [100,1,2,3,4,1,1,1,1,'a','b', 'b', 'b'] # sarasas su besikartojanciais nariais galima paversti i set
my_list = list( set(my_list))
print(my_list)# tik netvarkingas sarasas

[1, 2, 3, 100, 4, 'b', 'a']

In [77]:
print(4 in my_set)
print(5 in my_set)

True
False

In [78]:
print(len(my_set))

7

In [80]:
my_set = { 100,1,2,3,4,1,1,1,1,'a','b', 'b', 'b'}
print(my_set)
my_set.add(5)
print(my_set)
my_set.add(5)# kadangi jau egzistoja dar vieno neprides
print(my_set)

my_set.update( [111,222])
print(my_set)

{1, 2, 3, 100, 4, 'b', 'a'}
{1, 2, 3, 100, 4, 'b', 5, 'a'}
{1, 2, 3, 100, 4, 'b', 5, 'a'}
{1, 2, 3, 4, 5, 222, 100, 111, 'b', 'a'}

In [82]:
my_set = { 100,1,2,3,4,1,1,1,1,'a','b', 'b', 'b'}
print(my_set)
print(my_set.pop())
print(my_set)

{1, 2, 3, 100, 4, 'b', 'a'}
1
{2, 3, 100, 4, 'b', 'a'}

In [85]:
my_set = { 100,1,2,3,4,1,1,1,1,'a','b', 'b', 'b'}
print(my_set)
my_set.remove(4)
print(my_set)
my_set.remove(4)# error nes jau tokio nera

{1, 2, 3, 100, 4, 'b', 'a'}
{1, 2, 3, 100, 'b', 'a'}

KeyError: 4

In [86]:
y_set = { 100,1,2,3,4,1,1,1,1,'a','b', 'b', 'b'}
print(my_set)
my_set.discard(4)# istrine
print(my_set)
my_set.discard(4)# enieko nedaro jei tokio nario nera
print(my_set)
my_set.discard(4)# enieko nedaro jei tokio nario nera
print(my_set)
my_set.discard(4)# enieko nedaro jei tokio nario nera
print(my_set)

{1, 2, 3, 100, 'b', 'a'}
{1, 2, 3, 100, 'b', 'a'}
{1, 2, 3, 100, 'b', 'a'}
{1, 2, 3, 100, 'b', 'a'}
{1, 2, 3, 100, 'b', 'a'}

In [91]:
# keliu set palyginimas
my_set_1 = {1,3,5,7}
my_set_2 = {4,5,6,7,8,9}

print( my_set_1.union(my_set_2))# panasu su join is sql
print( my_set_1.difference ( my_set_2))
print( my_set_2.difference ( my_set_1))

print( my_set_1.intersection ( my_set_2))# kas bendro

{1, 3, 4, 5, 6, 7, 8, 9}
{1, 3}
{8, 9, 4, 6}
{5, 7}

In [94]:
small_set = {2,4}
big_set= {1,2,3,4,5}

print( small_set.issubset(big_set) ) # mazesne dalis kazko didelio
print( big_set.issubset(small_set) ) # mazesne dalis kazko didelio

print( big_set.issuperset(small_set) ) # didesne dalis kazko didelio
print( small_set.issuperset(big_set) ) # didesne dalis kazko didelio

True
False
True
False

In [95]:
# Pridėkite reikšmę
fruits = {"apple", "banana", "cherry"}
#fruits = {"apple", "banana", "cherry", ("nauja_reiksme", 5)}

print(fruits)
fruits.add(("nauja_reiksme", 5))
print(fruits)

{'banana', 'cherry', 'apple'}
{'banana', 'cherry', 'apple', ('nauja_reiksme', 5)}

In [101]:
# Pakeiskite reikšmę
fruits = {"apple", "banana", "cherry"}
#                         tampa
#fruits = {"watermelon", "banana", "cherry"}
print(fruits)
fruits.remove("apple")
print(fruits)
fruits.update( ["watermelon"] )
print(fruits)

{'apple', 'cherry', 'banana'}
{'cherry', 'banana'}
{'cherry', 'banana', 'watermelon'}

In [109]:
#Padarykite šiuos veiksmus
fruits = {"apple", "banana", "cherry"}

#Pridėkite ‘watermelon’ reikšmę - fruits.add()

fruits.add("watermelon")
print(fruits)

#Pridėkite 5 sugalvotus vaisius prie fruits set’o - fruits.update([ ])

fruits.update(["mandarinas", "apelsinas", "kriause", "arbuzas", "tresnes" ])
print(fruits)

#Išimkite pasirinką vaisių - fruits.remove(‘apple’), fruits.discard(‘apple’)

fruits.discard("apple")
print(fruits)

#Gaukite set’o ilgį - len(fruits)

print(len(fruits))
#Pridėkite jau egzistuojantį vaisių - 

fruits.add("kriause")
print(fruits)

#Gaukite set’o ilgį - len(fruits)

print(len(fruits))

{'apple', 'cherry', 'banana', 'watermelon'}
{'arbuzas', 'apelsinas', 'banana', 'cherry', 'watermelon', 'apple', 'kriause', 'mandarinas', 'tresnes'}
{'arbuzas', 'apelsinas', 'banana', 'cherry', 'watermelon', 'kriause', 'mandarinas', 'tresnes'}
8
{'arbuzas', 'apelsinas', 'banana', 'cherry', 'watermelon', 'kriause', 'mandarinas', 'tresnes'}
8